blinker==1.9.0
click==8.4.2
Flask[async]==3.1.3
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.5.1
setuptools==83.0.0
Werkzeug==3.1.8
requests==2.34.2
debugpy==1.8.21
flasgger==0.9.7.1
psycopg[binary]==3.3.4
pydantic==2.13.4
matplotlib
uncertainty_toolbox
python-dotenv
shapely
gunicorn==23.0.0